:root {
    --acg-color-brand: #0957c8;

    --bs-body-bg: #a1c9e7;
    --bs-border-color: #488abb;
}

html, body {
    min-height: 100vh;
}

.image_wrapper img {
    max-width: 100%;
    max-height: 90vh;
}

.form_wrapper .logo {
    color: var(--acg-color-brand);
    font-weight: 700;
}

.divider .label {
    background-color: var(--bs-body-bg);
}