<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
<!--        TODO: style tobe updated -->
        #findUser, #submitBooking{
            display: flex;
            justify-content: flex-end;
            margin-right: 0px;
        }
    </style>
</head>
<body style="margin: 10px; background-color: #d6d9e1">
<div class="container">
    <h3>Laboratory Booking Web Application</h3>
    <p>Please fill the required information below to schedule your lab request: </p>
    <form action="#" th:action="@{/saveBooking}" th:object="${labUser}" th:method="post">
        <div class="form-group">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName" th:text="">First Name:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}">
                </div>
                <div class="col-md-4">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" class="form-control" id="dob" name="dob" th:field="*{dob}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
                </div>
            </div>
        </div>
            <button type="submit" id="findUser" name="findUser" class="btn btn-primary" >Find</button>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="labLocation">Lab Location:</label>
                    <select id="labLocation" name="labLocation" required>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="dateTime">Date and Time:</label>
                    <input type="datetime-local" class="form-control" id="dateTime" name="dateTime" required>
                </div>
            </div>
        </div>

        <button type="submit" id="submitBooking" name="submitBooking" class="btn btn-primary" >Submit</button>
    </form>
</div>

<!-- Bootstrap JS (optional, if you need JavaScript) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
